*
!/.dockerignore
!/coresrv.sln
!/api/

!/App/Properties/
!/App/Services/
!/App/Extensions/
!/App/appsettings.Development.json
!/App/appsettings.json
!/App/App.csproj
!/App/Program.cs

!/Ping/Ping.csproj
!/Ping/Program.cs
